<div class="nav-bar"
     fxLayout="row"
      fxLayoutAlign="space-between center"
      ngClass.gt-md="padding64-x-nav"
      ngClass.gt-xs="padding48-x-nav">

  <div>
    <a href="#" class="nav-logo">
      <img src="https://yts.mx/assets/images/website/logo-YTS.svg" alt="YIFY">
    </a>
  </div>

  <div fxShow="false"
      fxShow.gt-xs="true"
       fxShow.gt-sm="false"
    class="header-slogan"
    fxLayoutAlign="center center">
    HD movies at the smallest file size.
  </div>


  <div  fxHide="false"
        fxHide.gt-sm="true"
        fxLayout="row"
        class="nav-mobile-buttons"
        fxLayoutAlign="center center"
        fxLayoutGap="4px"
        style="padding-right: 4px">
    <a href="#" style="color: #e3e3e3">
      <span class="material-icons">search</span>
    </a>

    <a href="#" style="color: #6AC045">
      <b>4k</b>
    </a>

    <a href="#" style="color: #e3e3e3">
      <span class="material-icons">leaderboard</span>
    </a>

    <a href="#" style="color: #e3e3e3">
      <span class="material-icons">list_alt</span>
    </a>

    <a href="#" style="color: #e3e3e3">
      <span class="material-icons">person</span>
    </a>
  </div>

  <div fxShow="false"
       fxShow.gt-sm="true"
        fxLayout="row"
       fxLayoutGap="12px"
       fxLayoutAlign="center center">
        <div
          fxLayoutAlign="start center"
          class="search-wrapper">
          <div class="search"
               fxLayout="row"
               fxLayoutAlign="space-between center">
            <mat-icon
              style="cursor: pointer">search
            </mat-icon>
            <div>
              <input
                class="font-size-18"
                placeholder="Quick Search"
                formControlName="searchControl"
                fxFlex>
            </div>
          </div>

<!--      <input  placeholder="Quick Search" id="search">-->
    </div>
    <div fxLayout="row"
         fxLayoutGap="12px"
         style="font-weight: bold">
      <div *ngFor="let nav of navigationConfig">
        <a>
          {{nav.content}}
        </a>
      </div>

    </div>

</div>


