<div
  fxFlex="100"
  style="height: 100%; margin-top: 40px"
  class="bg-color"
  fxLayout="column"
  fxLayoutGap="24px">
<!--  <button style="color: black; margin-top: 200px">Populate data</button>-->

  <div
    fxShow="false"
    fxShow.gt-md="true"
    fxLayout="column"
    fxLayoutAlign="center center"
    style="padding-top: 80px"
    fxLayoutGap="24px">
    <div
      class="white bold font-size-44"
      style="margin-top: 40px">
      Download YTS YIFY movies: HD smallest size
    </div>
    <div
      class="white"
      style="width: 40%"
      fxLayoutAlign="center center">
        Welcome to the official YTS.MX (.LT) website. Here you can browse and download YIFY movies in
        excellent 720p, 1080p, 2160p 4K and 3D quality, all at the smallest file size. YTS Movies Torrents.
    </div>
    <div class="blue">
      <a>
        <b>IMPORTANT - YTS.MX is the only new official domain for YIFY Movies</b>
      </a>
    </div>
  </div>

  <div
    id="popular-downloads"
    fxLayout="row"
    fxLayoutGap="8px"
    fxLayoutAlign="start center"
    fxLayoutAlign.gt-xs="center center">
    <div>
      <span class="material-icons icon">star</span>
    </div>
    <div class="white">Popular Downloads</div>
  </div>

  <div
      fxLayout="column"
      fxLayout.gt-xs="row"
      fxLayoutGap="20px"
      fxLayoutGap.gt-xs="0px">
    <div
      fxFlex="100"
      fxLayoutAlign="center center"
      fxLayoutGap="20px">
      <div fxFlex="40">
        <div class="card-style">
          <img class="img-responsive" src="https://img.yts.mx/assets/images/movies/godzilla_vs_kong_2021/medium-cover.jpg">
        </div>
        <div>
          <div class="bold white">Godzilla vs. Kong</div>
          <div class="gray">2021</div>
        </div>
      </div>
      <div fxFlex="40">
        <div class="card-style">
          <img class="img-responsive" src="https://img.yts.mx/assets/images/movies/boogie_2021/medium-cover.jpg">
        </div>
        <div>
          <div class="bold white">Godzilla vs. Kong</div>
          <div class="gray">2021</div>
        </div>
      </div>
    </div>

    <div
      fxFlex="100"
      fxLayoutAlign="center center"
      fxLayoutGap="20px">
      <div fxFlex="40">
        <div class="card-style">
          <img class="img-responsive" src="https://img.yts.mx/assets/images/movies/the_mauritanian_2021/medium-cover.jpg">
        </div>
        <div>
          <div class="bold white">The Mauritanian</div>
          <div class="gray">2021</div>
        </div>
      </div>
      <div fxFlex="40">
        <div class="card-style">
          <img class="img-responsive" src="https://img.yts.mx/assets/images/movies/monsters_of_man_2020/medium-cover.jpg">
        </div>
        <div>
          <div class="bold white">Monsters og Man</div>
          <div class="gray">2020</div>
        </div>
      </div>
    </div>
  </div>


</div>
