.card-style {
  display: inline-block;
  max-width: 220px;
  border: 5px solid #fff;
  transition: border .15s ease-in-out;
  border-radius: 4px;
  font-size: 24px;
  position: relative;
}

.card-caption {
  width:90%;
  height:90%;
  margin:5%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  background:rgba(0,0,0,0.5);
  color: white;
  opacity: 0;
  transition:opacity 1s;
}

.card-caption:hover {
  opacity: 1;
}

.card-caption-button {
  background: #6ac045;
  border-radius: 3px;
  display: block;
  font-weight: bold;
  color: #fff;
  top: 25px;
  font-size: 16px;
  position: relative;
  width: 130px;
  padding: 7px 0;
  margin: 0 auto;
  transition: all 300ms ease;
}

.rating {
  font-size: 20px;
  font-weight: bold;
}

.blue {
  color: #428bca;
}
.white {
  color: white;
}

.gray {
  color: #919191;
}

.icon {
  color: #6ac045;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  position:relative;
}

.card-bottom {
  margin: 0 auto;
  padding: 0 5px;
  max-width: 220px;
  text-align: left;
}

.display-contents {
  display: contents;
}

.bold {
  font-weight: bold;
}

.bg-color {
  background-color: #1d1d1d;
}

.font-size-44 {
  font-size: 44px;
}

.font-size-14 {
  font-size: 14px;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.mr-20 {
  margin-right: 20px;
}

.content-dark {
  background: #171717;
  width: 100%;
}

.progress-bar {
  width: 55%;
  height: 15px;
}

.height-60 {
  height: 70px;
}



