.bg-color {
  background-color: #1d1d1d;
}

.pt-60 {
  padding-top: 60px;
}

.movie-img {
  width: 116px;
  height: 170px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 5px;
}

.movie-img-large {
  width: 250px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 5px;
}
