<div
  fxLayoutAlign="center"
  class="bg-color">

  <div
    fxFlex="90"
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="16px"
    class="pt-60"
    ngClass.md="pt-100">
    <div
      fxShow
      fxShow.gt-xs="false"
      fxLayout="column wrap"
      fxLayoutGap="8px">
      <div
        class="white bold font-size-20">
        {{movieDetails?.title}}
      </div>
      <div class="white bold">
        {{movieDetails?.release_date}}
      </div>
      <div class="white bold">
       <span *ngFor="let genre of movieDetails?.genres; let i = index"> {{genre?.name}}
         <span *ngIf="!(i === (movieDetails?.genres?.length - 1))">/</span>
       </span>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayoutGap="20px">
      <div
        class="movie-img"
        ngClass.gt-xs="movie-img-large"
        [ngStyle]="{backgroundImage: 'url('+ imgUrl +')'}">
      </div>

      <div
        fxLayout="column"
        fxLayoutGap="20px">
        <div
          fxHide
          fxHide.gt-xs="false"
          fxLayout="column wrap"
          fxLayoutGap="8px">
          <div class="white bold font-size-24">
            {{movieDetails?.title}}
          </div>
          <div class="white bold">
            {{movieDetails?.release_date}}
          </div>
          <div class="white bold">
             <span *ngFor="let genre of movieDetails?.genres; let i = index"> {{genre?.name}}
               <span *ngIf="!(i === (movieDetails?.genres?.length - 1))">/</span>
             </span>
          </div>
        </div>

<!--        <div class="white">-->
<!--          <span>Available in:</span>-->
<!--          <span>720p.WEB</span>-->
<!--          <span>1080p.WEB</span>-->
<!--        </div>-->

        <div>
          <div
            fxLayoutAlign="start center">
          <span
            class="min-width-60">
            <mat-icon class="color-green">favorite</mat-icon>
          </span>
            <span class="white bold">330</span>
          </div>
          <div
            fxLayoutAlign="start center">
        <span
          class="min-width-60">
          <img class="mr-24" src="../../../../assets/images/rt-rotten.png">
        </span>
            <span class="white bold">56%</span>
          </div>
          <div
            fxLayoutAlign="start center">
        <span
          class="min-width-60">
          <img class="mr-24" src="../../../../assets/images/rt-upright.png">
        </span>
            <span class="white bold">{{movieDetails?.vote_average}}</span>
          </div>
          <div
            fxLayoutAlign="start center">
        <span
          class="min-width-60">
          <img src="../../../../assets/images/logo-imdb.svg">
        </span>
            <span class="white bold">{{movieDetails?.vote_average}}</span>
          </div>
        </div>
      </div>

      <div
        fxLayout="column"
        fxLayoutGap="12px">
        <div
          fxLayout="row"
          fxLayoutGap="12px">
          <div
            class="movie-img"
            [ngStyle]="{backgroundImage: 'url('+ similarMovieImgURLs[0] +')'}">
          </div>
          <div
            class="movie-img"
            [ngStyle]="{backgroundImage: 'url('+ similarMovieImgURLs[1] +')'}">
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutGap="12px">
          <div
            class="movie-img"
            [ngStyle]="{backgroundImage: 'url('+ similarMovieImgURLs[2] +')'}">
          </div>
          <div
            class="movie-img"
            [ngStyle]="{backgroundImage: 'url('+ similarMovieImgURLs[3] +')'}">
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
