#popular-downloads  {
  font-size: 18px;
  text-color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  padding-top: 16px;
  font-weight: bold;
  padding-left: 8px;
}

#latest-yifi  {
  font-size: 18px;
  text-color: white;
  padding-bottom: 20px;
  padding-top: 16px;
  font-weight: bold;
  padding-left: 16px;
}

#upcoming-yifi  {
  font-size: 18px;
  text-color: white;
  padding-bottom: 20px;
  padding-top: 16px;
  font-weight: bold;
  padding-left: 16px;
}






