<div
  fxFlex="100"
  style="height: 100%; margin-top: 40px"
  class="bg-color"
  fxLayout="column"
  fxLayoutGap="24px">


  <div
    fxShow="false"
    fxShow.gt-md="true"
    fxLayout="column"
    fxLayoutAlign="center center"
    style="padding-top: 80px"
    fxLayoutGap="24px">
    <div
      class="white bold font-size-44"
      style="margin-top: 40px">
      Download YTS YIFY movies: HD smallest size
    </div>
    <div
      class="white"
      style="width: 40%"
      fxLayoutAlign="center center">
        Welcome to the official YTS.MX (.LT) website. Here you can browse and download YIFY movies in
        excellent 720p, 1080p, 2160p 4K and 3D quality, all at the smallest file size. YTS Movies Torrents.
    </div>
    <div class="blue">
      <a>
        <b>IMPORTANT - YTS.MX is the only new official domain for YIFY Movies</b>
      </a>
    </div>
  </div>

  <div
    id="popular-downloads"
    fxLayout="row"
    fxLayoutGap="8px"
    fxLayoutAlign="start center"
    fxLayoutAlign.gt-xs="center center">
    <div>
      <span class="material-icons icon">star</span>
    </div>
    <div class="white">Popular Downloads</div>
  </div>

  <div
    fxLayoutAlign="center">
    <div
      fxFlex="100"
      fxFlex.gt-xs="80">
      <div
        fxLayoutAlign="center center">
        <div
          fxFlex="100"
          fxFlex.gt-xs="75"
          fxLayoutAlign="space-between center"
          fxLayoutGap="20px grid"
          fxLayout="row wrap">
          <app-movie-card
            *ngFor="let movie of popularMovielist"
            fxFlex="50"
            fxFlex.gt-xs="25"
            fxFlex.gt-md="20"
            [movieInfo]= "movie"
          ></app-movie-card>
        </div>

      </div>

      <div
        fxLayout="column"
        fxLayoutAlign="center center">
        <div
          class="width-100"
          fxLayoutAlign="center">
          <div
            id="latest-yifi"
            fxFlex="100"
            fxFlex.gt-xs="75"
            fxLayout="column"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center"
            ngClass.gt-xs="width-75 mr-20">
            <div class="white">
              Latest YIFY Movies Torrents
            </div>
            <div class="bold gray font-size-14">
              Browse All
            </div>
          </div>
        </div>

        <div
          fxLayoutAlign="center center"
          ngClass.gt-xs="width-75">
          <div
            fxFlex="99"
            fxLayoutAlign="space-between center"
            fxLayoutGap="20px grid"
            fxLayout="row wrap">
              <app-movie-card
                *ngFor="let movie of latestMovielist"
                fxFlex="50"
                fxFlex.gt-xs="25"
                fxFlex.gt-md="20"
                [movieInfo]="movie"
                (click)="navigateToMovieDetails(movie)">
              </app-movie-card>
          </div>
        </div>
      </div>

      <div
        fxLayout="column"
        fxLayoutAlign="center center">
        <div
          class="width-100"
          fxLayoutAlign="center">
          <div
            id="upcoming-yifi"
            fxLayout="column"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center"
            ngClass.xs="width-100"
            ngClass.gt-xs="width-75 mr-20">
            <div class="white">
              Upcoming YIFY Movies
            </div>
            <div class="bold gray font-size-14">
              Request a Movie
            </div>
          </div>
        </div>

        <div
          fxLayoutAlign="center center"
          ngClass.gt-xs="width-75">
          <div
            fxFlex="99"
            fxLayoutAlign="space-between center"
            fxLayoutGap="20px grid"
            fxLayout="row wrap">
              <app-movie-card
                *ngFor="let movie of upcomingMovielist"
                fxFlex="50"
                fxFlex.gt-xs="25"
                fxFlex.gt-md="20"
                fxLayoutAlign="center center"
                fxLayoutGap="20px"
                [movieInfo]="movie">
              </app-movie-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
