<div style="width: 600px">
  <div
    fxLayout="row"
    class="modal-switcher">
    <div
      class="font-size-20"
      fxFlex="50"
      fxLayoutAlign="center center"
      (click)="loginMode = true"
      [ngClass]="{'selected': loginMode === true}">
      Login
    </div>
    <div
      fxFlex="50"
      fxLayoutAlign="center center"
      class="font-size-20"
      (click)="loginMode = false"
      [ngClass]="{'selected': loginMode === false}">
      Register
    </div>
  </div>
  <mat-dialog-content>
    <div
      *ngIf="isLoading"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="12px"
      class="loader">
      <mat-spinner></mat-spinner>
      <p>Loading, Please wait</p>
    </div>

    <div *ngIf="loginMode && !isLoading"
         [formGroup]="loginForm"
         (ngSubmit)="onLoginSubmit()">
      <form
        class="pt-40">
        <div fxLayout="column">
          <div
            fxLayout="column"
            fxLayoutGap="8px">
            <div
              *ngIf="loginErrorMessage"
              fxLayoutAlign="center"
              class="error-msg">
              {{loginErrorMessage}}
            </div>
            <mat-form-field
              appearance="outline">
              <div
                fxLayout="row"
                fxLayoutGap="8px">
                <span class="material-icons icon-color">person</span>
                <input placeholder="Email" outline matInput formControlName="email">
              </div>
            </mat-form-field>
            <mat-form-field
              appearance="outline">
              <div
                fxLayout="row"
                fxLayoutGap="8px">
                <span class="material-icons icon-color">lock</span>
                <input placeholder="Password" type="password" matInput formControlName="password">
              </div>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutGap="28px">
            <div
              fxLayoutAlign="center center">
              <button
                type="submit"
                class="login-btn-style"
                [disabled]="!loginForm.valid">Login</button>
            </div>
            <div>
              <a href="#">Forgot your password?</a>
            </div>
          </div>
        </div>
      </form>
    </div>


    <div *ngIf="!loginMode && !isLoading"
         [formGroup]="signupForm"
         (ngSubmit)="onSignupSubmit()">
      <form
        class="pt-40">
        <div fxLayout="column">
          <div fxLayout="column" fxLayoutGap="8px">
            <div
              *ngIf="signupErrorMessage"
              fxLayoutAlign="center"
              class="error-msg">
              {{signupErrorMessage}}
            </div>
            <mat-form-field
              appearance="outline">
              <div
                fxLayout="row"
                fxLayoutGap="8px">
              <span class="material-icons icon-color">person</span>
              <input placeholder="Email" outline matInput formControlName="email">
              </div>

            </mat-form-field>
            <mat-form-field
              appearance="outline">
                <div
                  fxLayout="row"
                  fxLayoutGap="8px">
                  <span class="material-icons icon-color">lock</span>
                  <input placeholder="Password" type="password" matInput formControlName="password">
                </div>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutGap="28px">
            <div fxLayoutAlign="center center"
                  class="register-msg">
              By clicking Register, you agree to our <span class="terms-msg"> Terms and Condition</span>
            </div>
            <div
              fxLayoutAlign="center center">
              <button
                type="submit"
                class="login-btn-style"
                [disabled]="!signupForm.valid">Register</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>
</div>

