<div
  fxLayout="column"
  fxLayoutGap="20px">
  <div class="white"
       fxLayout="column"
       fxLayout.gt-xs="row"
       fxLayoutGap="4px"
       fxLayoutGap.gt-sm="8px"
       fxLayoutAlign="start center">
          <span
            fxShow="false"
            fxShow.gt-sm
            class="font-style-italic font-size-18">Available in:</span>

    <div class="movie-print font-size-14"
         fxLayoutAlign="center">
            <span class="color-green">
              <mat-icon class="font-size-18">file_download</mat-icon>
            </span>
      <span>720p.WEB</span>
    </div>

    <div class="movie-print font-size-14"
         fxLayoutAlign="center">
            <span class="color-green">
              <mat-icon class="font-size-18">file_download</mat-icon>
            </span>
      <span>1080p.WEB</span>
    </div>
  </div>
  <p class="gray font-size-12">WEB: same quality as BluRay, but ripped earlier from a streaming service
    BluRay estimated release date: <span class="green">May 10, 2021</span></p>
  <div class="movie-print font-size-14 subtitle-container"
       fxLayoutAlign="center">
          <span class="color-green">
            <mat-icon class="font-size-18">file_download</mat-icon>
          </span>
    <span>
            Download Subtitles
          </span>
  </div>
</div>


