/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue {
  color: #428bca;
}

.white {
  color: white;
}

.gray {
  color: #919191;
}

.icon {
  color: #6ac045;
}

.display-contents {
  display: contents;
}

.bold {
  font-weight: bold;
}

.bg-color {
  background-color: #1d1d1d;
}

.font-size-44 {
  font-size: 44px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-32 {
  font-size: 32px;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.mr-12 {
  margin-right: 12px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-28 {
  margin-right: 24px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.min-width-60 {
  min-width: 60px;
}

.content-dark {
  background: #171717;
  width: 100%;
}

.height-60 {
  height: 70px;
}

.color-green {
  color: #6ac045;
}
