<div class="movie-card" fxLayout="column" fxLayoutAlign="start center">
  <div class="card-display" [ngStyle]="{backgroundImage: 'url('+defaultImage+')'}">
    <div
      fxLayout="column"
      class="card-caption"
      fxLayoutAlign="center center"
      fxLayoutGap="24px">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
        class="bold">
        <span class="material-icons icon">star</span>
        <div>6.6/10</div>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
        class="bold white">
        <div>Action</div>
        <div>Sci-Fi</div>
      </div>
      <div
        class="card-caption-button"
        fxLayoutAlign="center center">
        View Details
      </div>
    </div>
  </div>

  <div>
    <div class="bold white height-60">{{movieInfo.title}}</div>
  </div>
</div>
