<div
  class="movie-card"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="4px">
  <div class="card-display" [ngStyle]="{backgroundImage: 'url('+defaultImage+')'}">
    <div
      fxLayout="column"
      class="card-caption"
      fxLayoutAlign="center center"
      fxLayoutGap="24px">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
        class="bold">
        <span class="material-icons icon">star</span>
        <div class="rating">{{movieInfo.vote_average}}</div>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
        class="bold white font-size-20">
        <div *ngFor="let genreName of displayGenreList">
          {{genreName}}
        </div>
      </div>
      <div
        class="card-caption-button"
        fxLayoutAlign="center center">
        View Details
      </div>
    </div>
  </div>

  <div>
    <div class="font-size-15 bold white height-60">{{movieInfo.title}}</div>
  </div>
</div>
